-
  const btn_msg = (ENTER_TYPE==='login') ? 'Log in' : 'Sign Up'
  const alter_variant_text = (ENTER_TYPE==='login') ? 'Don\'t have an account?' : 'I already have an account'
  const opposite_variant = (ENTER_TYPE==='login') ? 'signup' : 'login'

div(class= ENTER_TYPE)
  img.logo(src='./img/signup_login_logo.png')
  .title #{btn_msg}
  form(class= ENTER_TYPE+'-form' name= ENTER_TYPE+'-form')
    for input in inputForms
      .form
        label.my-label #{input.labelname}
        input(
          type= input.type
          name=input.name
          placeholder=input.placeholder
          id=input.name+'-input'
          class= 'inputField'
        )
        .bad-input(id= 'bad-'+input.name)
    input.submit-btn(type='submit' id= ENTER_TYPE+'-submit-btn' value= btn_msg)
    a.alternative-variant(href=opposite_variant data-section=opposite_variant) #{alter_variant_text}
