.popup(id='settingsPopup')
  .popup__body
    .menu-content.popup__content
      .menu-content__sidebar.sidebar
        .sidebar__username #{userInfo.nickname}
        a.sidebar__tab.sidebar__tab_account-settings Account Settings
          img.sidebar__tab_icon(src='../../img/settings__account-icon.svg')
        a.sidebar__tab.sidebar__tab_members Members
          img.sidebar__tab_icon(src='../../img/settings__members-icon.svg')
      .menu-content__settings.settings
        .settings__title Personal info
        form.settings__form
          .settings__avatar(id='avatar' dataset-name= userInfo.avatar)
            label.settings__avatar_hover +
          for input in inputForms
            .setting-field
              label.my-label.setting-field__label #{input.labelname}
              .setting-field__input
                input.inputField(
                  type= input.type
                  name=input.name
                  placeholder=input.placeholder
                  value=input.default_value
                  id=input.name + '-input'
                )
                .bad-input.setting-field__bad-input(id= 'bad-' + input.name)
          .settings__buttons.setting-field
            input.submit-btn.close-popup.settings__buttons_save(type='submit' id='save-btn' value= 'Save')
            input.submit-btn.close-popup.settings__buttons_logout(type='submit' id='logout-btn' value= 'Logout')
input(type='file' id= 'mediaFile')

